<a href="https://colab.research.google.com/github/Mercury-SL/Eficiencia-no-Sistema-Portuario/blob/main/AtracacaoFinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#bibliotecas iniciais
!pip install pandas
import io

import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

from google.colab import drive
drive.mount('/content/drive')

path_in = '/content/drive/My Drive/quarto semstre/Data/'
path_out = '/content/drive/My Drive/quarto semstre/Data/'

file1 = path_in + '2014Atracacao.csv'
df1 = pd.read_csv(file1, low_memory=False, sep=';', encoding = 'UTF-8', decimal =",")

file2 = path_in + '2015Atracacao.csv'
df1 = pd.read_csv(file1, low_memory=False, sep=';', encoding = 'UTF-8', decimal =",")

file3= path_in + '2016Atracacao.csv'
df1 = pd.read_csv(file1, low_memory=False, sep=';', encoding = 'UTF-8', decimal =",")

file4 = path_in + '2017Atracacao.csv'
df1 = pd.read_csv(file1, low_memory=False, sep=';', encoding = 'UTF-8', decimal =",")

file5 = path_in + '2018Atracacao.csv'
df1 = pd.read_csv(file1, low_memory=False, sep=';', encoding = 'UTF-8', decimal =",")

file6 = path_in + '2019Atracacao.csv'
df1 = pd.read_csv(file1, low_memory=False, sep=';', encoding = 'UTF-8', decimal =",")

file7 = path_in + '2020Atracacao.csv'
df1 = pd.read_csv(file1, low_memory=False, sep=';', encoding = 'UTF-8', decimal =",")

file8 = path_in + '2021Atracacao.csv'
df2 = pd.read_csv(file2, low_memory=False, sep=';', encoding = 'UTF-8', decimal =",")

file9 = path_in + '2022Atracacao.csv'
df3 = pd.read_csv(file3, low_memory=False, sep=';', encoding = 'UTF-8', decimal =",")

file10 = path_in + '2023Atracacao.csv'
df4 = pd.read_csv(file4, low_memory=False, sep=';', encoding = 'UTF-8', decimal =",")

csv_final = [file1, file2, file3, file4, file5, file6, file7, file8, file9, file10]
ANTAQ_Int = pd.DataFrame()
for csv_final in csv_final:
    df = pd.read_csv(csv_final, sep = ';')
    ANTAQ_Int = pd.concat([ANTAQ_Int, df], ignore_index=True)
ANTAQ_Int.info()

ANTAQ_Int.head(5)

colunas_interesse = ['IDBerco','Data Atracação', 'Data Chegada',
                     'Data Desatracação', 'Data Início Operação',
                     'Data Término Operação']
ANTAQ_Limpa = ANTAQ_Int.dropna(subset=colunas_interesse)
ANTAQ_Limpa.info()

ANTAQ_Limpa.head(5)

ANTAQ_Limpa['Data Chegada'] = pd.to_datetime(ANTAQ_Limpa['Data Chegada'], format='%d/%m/%Y %H:%M')
ANTAQ_Limpa['Data Atracação'] = pd.to_datetime(ANTAQ_Limpa['Data Atracação'], format='%d/%m/%Y %H:%M')
ANTAQ_Limpa['Data Início Operação'] = pd.to_datetime(ANTAQ_Limpa['Data Início Operação'], format='%d/%m/%Y %H:%M')
ANTAQ_Limpa['Data Término Operação'] = pd.to_datetime(ANTAQ_Limpa['Data Término Operação'], format='%d/%m/%Y %H:%M')
ANTAQ_Limpa['Data Desatracação'] = pd.to_datetime(ANTAQ_Limpa['Data Desatracação'], format='%d/%m/%Y %H:%M:%S', errors='coerce')

ANTAQ_Limpa['Tempo_espera_chegada'] = (ANTAQ_Limpa['Data Atracação'] - ANTAQ_Limpa['Data Chegada']).dt.total_seconds() / 3600
ANTAQ_Limpa['Tempo_espera_inicial'] = (ANTAQ_Limpa['Data Início Operação'] - ANTAQ_Limpa['Data Atracação']).dt.total_seconds() / 3600
ANTAQ_Limpa['Tempo_operacao'] = (ANTAQ_Limpa['Data Término Operação'] - ANTAQ_Limpa['Data Início Operação']).dt.total_seconds() / 3600
ANTAQ_Limpa['Tempo_espera_final'] = (ANTAQ_Limpa['Data Desatracação'] - ANTAQ_Limpa['Data Término Operação']).dt.total_seconds() / 3600
ANTAQ_Limpa['Tempo_ocupacao'] = (ANTAQ_Limpa['Data Desatracação'] - ANTAQ_Limpa['Data Atracação']).dt.total_seconds() / 3600

duplicados = ANTAQ_Limpa.duplicated(subset=['IDAtracacao'], keep=False)
if duplicados.any():
    print("Existem valores duplicados.")
    print(ANTAQ_Limpa[duplicados])
else:
    print("Coluna com valores unicos.")

coluna = 'Complexo Portuário'
CP = ANTAQ_Limpa[coluna].value_counts().sort_index()
print(f"Total de operações {coluna}:")
print(CP)

#define o filtro de CDTUP para casar com a base de cargas de interesse
porto = 'Santos'
navegacao = 'Longo Curso'
filtro =  ANTAQ_Limpa[(ANTAQ_Limpa['Complexo Portuário'] == porto) &
                (ANTAQ_Limpa['Tipo de Navegação da Atracação'] == navegacao)]
tabela = filtro.groupby('Berço').agg({'Berço': 'count'}).rename(columns={'Berço': 'Total'})
print(tabela)

filtro.info()

colunas_interesse1 = ['IDAtracacao','CDTUP','Berço','Porto Atracação', 'Complexo Portuário','Tipo de Navegação da Atracação',
                      'Data Chegada','Data Atracação','Data Início Operação','Data Término Operação','Data Desatracação',
                      'Tempo_espera_chegada', 'Tempo_espera_inicial','Tempo_operacao', 'Tempo_espera_final', 'Tempo_ocupacao']
filtro[colunas_interesse1].to_csv(path_out + 'Atracacao_final.csv', index=False)

drive.mount('/content/drive')
arquivo = '/content/drive/My Drive/Data/Atracacao_final.csv'
with open(arquivo, 'r', encoding='UTF-8') as f:
    linhas = f.readlines()
    for i in range(0, 5):
        print(f"Linha {i+1}: {linhas[i]}")

df = pd.read_csv(arquivo, low_memory=False, sep=',', encoding='UTF-8')
df.head()

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 358279 entries, 0 to 358278
Data columns (total 27 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   IDAtracacao                     358279 non-null  int64
 1   CDTUP                           358279 non-null  object
 2   IDBerco                         356226 non-null  object
 3   Berço                           356143 non-null  object
 4   Porto Atracação                 356226 non-null  object
 5   Coordenadas                     356090 non-null  object
 6   Apelido Instalação Portuária    100263 non-null  object
 7   Complexo Portuário              358279 non-null  object
 8   Tipo da Autoridade Portuária    358279 non-null  object
 9   Data Atracação                  356226 non-null  object
 10  Data Chegada                    356226 non-null  object
 11  Data Desatracação               358279 non-null  object
 12  Data Início Operação            321809 non-null  object
 13  Data Término Operação           321799 non-null  object
 14  Ano                             358279 non-null  int64
 15  Mes                             358279 non-null  object
 16  Tipo de Operação                356226 non-null  object
 17  Tipo de Navegação da Atracação  356226 non-null  object
 18  Nacionalidade do Armador        356226 non-null  float64
 19  FlagMCOperacaoAtracacao         358279 non-null  int64
 20  Terminal                        356143 non-null  object
 21  Município                       356143 non-null  object
 22  UF                              356143 non-null  object
 23  SGUF                            356143 non-null  object
 24  Região Geográfica               356143 non-null  object
 25  Nº da Capitania                 214546 non-null  object
 26  Nº do IMO                       221472 non-null  object
dtypes: float64(1), int64(3), object(23)
memory usage: 73.8+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 321761 entries, 159 to 358275
Data columns (total 27 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   IDAtracacao                     321761 non-null  int64
 1   CDTUP                           321761 non-null  object
 2   IDBerco                         321761 non-null  object
 3   Berço                           321719 non-null  object
 4   Porto Atracação                 321761 non-null  object
 5   Coordenadas                     321628 non-null  object
 6   Apelido Instalação Portuária    89937 non-null   object
 7   Complexo Portuário              321761 non-null  object
 8   Tipo da Autoridade Portuária    321761 non-null  object
 9   Data Atracação                  321761 non-null  object
 10  Data Chegada                    321761 non-null  object
 11  Data Desatracação               321761 non-null  object
 12  Data Início Operação            321761 non-null  object
 13  Data Término Operação           321761 non-null  object
 14  Ano                             321761 non-null  int64
 15  Mes                             321761 non-null  object
 16  Tipo de Operação                321761 non-null  object
 17  Tipo de Navegação da Atracação  321761 non-null  object
 18  Nacionalidade do Armador        321761 non-null  float64
 19  FlagMCOperacaoAtracacao         321761 non-null  int64
 20  Terminal                        321719 non-null  object
 21  Município                       321719 non-null  object
 22  UF                              321719 non-null  object
 23  SGUF                            321719 non-null  object
 24  Região Geográfica               321719 non-null  object
 25  Nº da Capitania                 193448 non-null  object
 26  Nº do IMO                       195341 non-null  object
dtypes: float64(1), int64(3), object(23)
memory usage: 68.7+ MB

<ipython-input-6-d7f82483dea2>:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ANTAQ_Limpa['Data Chegada'] = pd.to_datetime(ANTAQ_Limpa['Data Chegada'], format='%d/%m/%Y %H:%M')
<ipython-input-6-d7f82483dea2>:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ANTAQ_Limpa['Data Atracação'] = pd.to_datetime(ANTAQ_Limpa['Data Atracação'], format='%d/%m/%Y %H:%M')
<ipython-input-6-d7f82483dea2>:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ANTAQ_Limpa['Data Início Operação'] = pd.to_datetime(ANTAQ_Limpa['Data Início Operação'], format='%d/%m/%Y %H:%M')
<ipython-input-6-d7f82483dea2>:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ANTAQ_Limpa['Data Término Operação'] = pd.to_datetime(ANTAQ_Limpa['Data Término Operação'], format='%d/%m/%Y %H:%M')
<ipython-input-6-d7f82483dea2>:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ANTAQ_Limpa['Data Desatracação'] = pd.to_datetime(ANTAQ_Limpa['Data Desatracação'], format='%d/%m/%Y %H:%M:%S', errors='coerce')
<ipython-input-6-d7f82483dea2>:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ANTAQ_Limpa['Tempo_espera_chegada'] = (ANTAQ_Limpa['Data Atracação'] - ANTAQ_Limpa['Data Chegada']).dt.total_seconds() / 3600
<ipython-input-6-d7f82483dea2>:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ANTAQ_Limpa['Tempo_espera_inicial'] = (ANTAQ_Limpa['Data Início Operação'] - ANTAQ_Limpa['Data Atracação']).dt.total_seconds() / 3600
<ipython-input-6-d7f82483dea2>:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ANTAQ_Limpa['Tempo_operacao'] = (ANTAQ_Limpa['Data Término Operação'] - ANTAQ_Limpa['Data Início Operação']).dt.total_seconds() / 3600
<ipython-input-6-d7f82483dea2>:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ANTAQ_Limpa['Tempo_espera_final'] = (ANTAQ_Limpa['Data Desatracação'] - ANTAQ_Limpa['Data Término Operação']).dt.total_seconds() / 3600
<ipython-input-6-d7f82483dea2>:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ANTAQ_Limpa['Tempo_ocupacao'] = (ANTAQ_Limpa['Data Desatracação'] - ANTAQ_Limpa['Data Atracação']).dt.total_seconds() / 3600

Coluna com valores unicos.
Total de operações Complexo Portuário:
Complexo Portuário
Almeirim                                    2
Angra dos Reis                             57
Aracajú                                   413
Aratu - Salvador                         3294
Areia Branca                             8307
Areia Branca (Instalação Isolada)        9048
Barra do Riacho                            23
Cabedelo (Instalação Isolada)             540
Coari (Instalação Isolada)                  1
Corumbá                                 22127
Estrela                                     9
Forno                                     434
Ilhéus                                    364
Imbituba                                 1498
Itaguaí                                  6518
Itaituba                                15783
Itajaí                                    293
Itaqui                                  13649
LDC Pederneiras (Instalação Isolada)     2389
Macapá                                   1459
Maceió                                   1251
Manaus                                  25486
Natal                                     278
Não Classificado                        20076
Paranaguá - Antonina                     9077
Pecém - Fortaleza                        2702
Porto Alegre                             8080
Porto Velho                             26464
Rio Grande                              13399
Rio de Janeiro -  Niterói                4511
Santarém                                21511
Santos                                  17611
Suape - Recife                           1447
São Francisco do Sul                     2589
São João da Barra                        4019
São Sebastião                             514
São Simão                                4715
Vila do Conde - Belém                   53758
Vitória                                 14290
Óbidos                                   3775
Name: count, dtype: int64
                               Total
Berço
AGEO 01                            1
AL 03                              1
ARM 12A                          668
ARM 13/14                        388
ARM 15                           121
ARM 16/17                       1462
ARM 19                          1227
ARM 20/21                       1379
ARM 22 + ARM 23                   27
ARM 29                            17
ARM 29/30 + ARM 30               257
ARM 31                            93
ARM 31/32 + ARM 32               162
ARM 33                           174
ARM 33/34                         13
ARM 34                            51
ARM 35.0                          18
ARM 35P1                          29
ARM 38                           936
ARM 39                           954
ARM FRIG/25                      238
ARMAZEM 23                       487
ARMAZÉM 17/19                      2
ARMAZÉM 30                        41
ARMAZÉM 31/32                     44
ARMAZÉM 37.1                     310
ARMAZÉM 37.2                      38
ARMAZÉM 38/39                      1
CONCAIS                          243
CORTE                              2
CS 02 + CS 01                     25
CS 03                            152
CS 04                              1
CS.2                             178
Cais I #4                         51
Cais II #5                        87
Cutrale                          316
IB BC                              2
OUTEIRINHOS 1                     77
OUTEIRINHOS 2 + OUTEIRINHOS 1    101
OUTEIRINHOS 3                    413
Pier #2                            1
SUGADOR 26                        17
TEAG                             624
TECON 1.1                          1
TEG                              811
TERMAG                           751
TGG                             1350
TIP 2                            526
TIP 3                            632
TIP 4                            268
TUF1                             767
VALONGO                            4
<class 'pandas.core.frame.DataFrame'>
Index: 16539 entries, 191 to 358214
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   IDAtracacao                     16539 non-null  int64
 1   CDTUP                           16539 non-null  object
 2   IDBerco                         16539 non-null  object
 3   Berço                           16539 non-null  object
 4   Porto Atracação                 16539 non-null  object
 5   Coordenadas                     16539 non-null  object
 6   Apelido Instalação Portuária    0 non-null      object
 7   Complexo Portuário              16539 non-null  object
 8   Tipo da Autoridade Portuária    16539 non-null  object
 9   Data Atracação                  16539 non-null  datetime64[ns]
 10  Data Chegada                    16539 non-null  datetime64[ns]
 11  Data Desatracação               0 non-null      datetime64[ns]
 12  Data Início Operação            16539 non-null  datetime64[ns]
 13  Data Término Operação           16539 non-null  datetime64[ns]
 14  Ano                             16539 non-null  int64
 15  Mes                             16539 non-null  object
 16  Tipo de Operação                16539 non-null  object
 17  Tipo de Navegação da Atracação  16539 non-null  object
 18  Nacionalidade do Armador        16539 non-null  float64
 19  FlagMCOperacaoAtracacao         16539 non-null  int64
 20  Terminal                        16539 non-null  object
 21  Município                       16539 non-null  object
 22  UF                              16539 non-null  object
 23  SGUF                            16539 non-null  object
 24  Região Geográfica               16539 non-null  object
 25  Nº da Capitania                 250 non-null    object
 26  Nº do IMO                       16533 non-null  object
 27  Tempo_espera_chegada            16539 non-null  float64
 28  Tempo_espera_inicial            16539 non-null  float64
 29  Tempo_operacao                  16539 non-null  float64
 30  Tempo_espera_final              0 non-null      float64
 31  Tempo_ocupacao                  0 non-null      float64
dtypes: datetime64[ns](5), float64(6), int64(3), object(18)
memory usage: 4.2+ MB
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Linha 1: IDAtracacao,CDTUP,Berço,Porto Atracação,Complexo Portuário,Tipo de Navegação da Atracação,Data Chegada,Data Atracação,Data Início Operação,Data Término Operação,Data Desatracação,Tempo_espera_chegada,Tempo_espera_inicial,Tempo_operacao,Tempo_espera_final,Tempo_ocupacao

Linha 2: 579549,BRSP001,TUF1,Terminal Integrador Portuário Luiz Antonio Mesquita - TIPLAM,Santos,Longo Curso,2013-12-31 13:00:00,2013-12-31 15:40:00,2013-12-31 17:05:00,2014-01-03 10:20:00,,2.6666666666666665,1.4166666666666667,65.25,,

Linha 3: 584408,BRSP002,Cais II #5,Terminal Marítimo Privativo de Cubatão - TMPC,Santos,Longo Curso,2014-01-01 13:05:00,2014-01-01 16:25:00,2014-01-01 17:30:00,2014-01-04 02:25:00,,3.3333333333333335,1.0833333333333333,56.916666666666664,,

Linha 4: 584410,BRSP002,Cais II #5,Terminal Marítimo Privativo de Cubatão - TMPC,Santos,Longo Curso,2014-01-08 14:45:00,2014-01-08 19:00:00,2014-01-08 19:40:00,2014-01-10 04:20:00,,4.25,0.6666666666666666,32.666666666666664,,

Linha 5: 585300,BRSP002,Cais II #5,Terminal Marítimo Privativo de Cubatão - TMPC,Santos,Longo Curso,2014-01-24 00:10:00,2014-01-24 23:35:00,2014-01-25 01:05:00,2014-01-27 19:10:00,,23.416666666666668,1.5,66.08333333333333,,

,IDAtracacao,CDTUP,Berço,Porto Atracação,Complexo Portuário,Tipo de Navegação da Atracação,Data Chegada,Data Atracação,Data Início Operação,Data Término Operação,Data Desatracação,Tempo_espera_chegada,Tempo_espera_inicial,Tempo_operacao,Tempo_espera_final,Tempo_ocupacao
0,579549,BRSP001,TUF1,Terminal Integrador Portuário Luiz Antonio Mes...,Santos,Longo Curso,2013-12-31 13:00:00,2013-12-31 15:40:00,2013-12-31 17:05:00,2014-01-03 10:20:00,NaN,2.666667,1.416667,65.250000,NaN,NaN
1,584408,BRSP002,Cais II #5,Terminal Marítimo Privativo de Cubatão - TMPC,Santos,Longo Curso,2014-01-01 13:05:00,2014-01-01 16:25:00,2014-01-01 17:30:00,2014-01-04 02:25:00,NaN,3.333333,1.083333,56.916667,NaN,NaN
2,584410,BRSP002,Cais II #5,Terminal Marítimo Privativo de Cubatão - TMPC,Santos,Longo Curso,2014-01-08 14:45:00,2014-01-08 19:00:00,2014-01-08 19:40:00,2014-01-10 04:20:00,NaN,4.250000,0.666667,32.666667,NaN,NaN
3,585300,BRSP002,Cais II #5,Terminal Marítimo Privativo de Cubatão - TMPC,Santos,Longo Curso,2014-01-24 00:10:00,2014-01-24 23:35:00,2014-01-25 01:05:00,2014-01-27 19:10:00,NaN,23.416667,1.500000,66.083333,NaN,NaN
4,585349,BRSP001,TUF1,Terminal Integrador Portuário Luiz Antonio Mes...,Santos,Longo Curso,2013-12-24 11:48:00,2014-01-03 17:30:00,2014-01-04 01:30:00,2014-01-09 16:30:00,NaN,245.700000,8.000000,135.000000,NaN,NaN